/* Computer Modern Sans - Self-hosted fonts */
/* Adjust font file paths relative to this stylesheet location */

@font-face {
  font-family: "Computer Modern Sans";
  src: url("../public/fonts/computer-modern/font/Sans/cmunss.eot");
  src: url("../public/fonts/computer-modern/font/Sans/cmunss.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Sans/cmunss.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Sans/cmunss.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Sans/cmunss.svg#cmunss") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("../public/fonts/computer-modern/font/Sans/cmunsx.eot");
  src: url("../public/fonts/computer-modern/font/Sans/cmunsx.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Sans/cmunsx.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Sans/cmunsx.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Sans/cmunsx.svg#cmunsx") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("../public/fonts/computer-modern/font/Sans/cmunsi.eot");
  src: url("../public/fonts/computer-modern/font/Sans/cmunsi.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Sans/cmunsi.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Sans/cmunsi.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Sans/cmunsi.svg#cmunsi") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("../public/fonts/computer-modern/font/Sans/cmunso.eot");
  src: url("../public/fonts/computer-modern/font/Sans/cmunso.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Sans/cmunso.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Sans/cmunso.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Sans/cmunso.svg#cmunso") format("svg");
  font-weight: bold;
  font-style: italic;
}
