/* Computer Modern Serif - Self-hosted fonts */
/* Adjust font file paths relative to this stylesheet location */

@font-face {
  font-family: "Computer Modern Serif";
  src: url("../public/fonts/computer-modern/font/Serif/cmunrm.eot");
  src: url("../public/fonts/computer-modern/font/Serif/cmunrm.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Serif/cmunrm.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Serif/cmunrm.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Serif/cmunrm.svg#cmunrm") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("../public/fonts/computer-modern/font/Serif/cmunbx.eot");
  src: url("../public/fonts/computer-modern/font/Serif/cmunbx.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Serif/cmunbx.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Serif/cmunbx.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Serif/cmunbx.svg#cmunbx") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("../public/fonts/computer-modern/font/Serif/cmunti.eot");
  src: url("../public/fonts/computer-modern/font/Serif/cmunti.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Serif/cmunti.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Serif/cmunti.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Serif/cmunti.svg#cmunti") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("../public/fonts/computer-modern/font/Serif/cmunbi.eot");
  src: url("../public/fonts/computer-modern/font/Serif/cmunbi.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/computer-modern/font/Serif/cmunbi.woff") format("woff"),
    url("../public/fonts/computer-modern/font/Serif/cmunbi.ttf") format("truetype"),
    url("../public/fonts/computer-modern/font/Serif/cmunbi.svg#cmunbi") format("svg");
  font-weight: bold;
  font-style: italic;
}
